@using DoAnChuyenNganh.Models;
@model IEnumerable<Shipper>

<div class="panel-body widget-shadow">
    <h4>Danh sách shipper :</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Mã Shipper</th>
                <th>Họ tên</th>
                <th>Thuộc Kho</th>
                <th>Ca làm</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaShipper)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kho.TenKho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaLam.CaLam1)
                </td>
            </tr>
            } 
        </tbody>
    </table>
</div>
